.page__hero--overlay {
  min-height: 100vh; /* Make hero span entire page height */
  background-size: cover !important;
  background-position: center center !important;
}

a.btn-custom {
  display: inline-block;
  background: #ff7e5f;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

a.btn-custom:hover {
  background: linear-gradient(to right, #feb47b, #ff7e5f);
  transform: scale(1.05);
}
